# KiCad temporary files and backups
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

# Cache and preferences
*-cache.lib
fp-info-cache
*.kicad_prl
rescue-rescue.lib
*.lib.bkp